/.lake/build/
/.lake/.locks/
/.lake/packages/
/.lake/packaging/

*.olean
*.ilean
*.c
*.o
*.obj
*.exe

.DS_Store
Thumbs.db

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
